<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width>, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnecr" href="https://fonts.googleapis.com" crossorigin>
    <link href="https://font.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    
 <header class = 'main-header'>

    <div class = 'main-header-top-bar'>
      <img src = '/imgs/logo-mercado-liebre.svg' width="200px" height="100px" class = 'logo'>
      <div class = 'search'><input placeholder = 'Buscar productos, marcas y mas..'> <button><i class = 'fas fa-search'></i></button></div>
      <p class = 'copy-header'> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    
    <div class = 'main-header-bottom-bar'>
        <ul type="none" class = 'linksuno'>
         <li><a href = 'a'>Ofertas</a></li>
         <li><a href = 'a'>Tiendas oficiales</a></li>
         <li><a href = 'a'>Vender</a></li>
         <li><a href = 'a'>Ayuda</a></li>
        
         <li> <a href = '/register'>Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
         <li><a href = '/login'>Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
         <li><a href = 'a'>Mis compras <i class="fa-solid fa-bag-shopping"></i></a></li>
        </ul>
      </div>
      
      <a href = 'a' class="burger-button"><i class="fas fa-bars"></i></a>

    </header>  
    
    <img src="/imgs/img-home-banner.jpg" class="banner">

 <main>

  <section>

  <h2>Basado en tu ultima visita</h2>

  <div class = 'articulos'>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-cafetera-moulinex.jpg">
     <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$6.770</p>
      <p class = 'descuentos'>40% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>Cafetera Moulinex</p>
     </div>
   </article>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-macbook-pro-2019.jpg">
    <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$230.000</p>
      <p class = 'descuentos'>20% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>MacBook Pro 2019</p>
    </div>
   </article>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-samsung-galaxy-s10.jpg">
    <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$70.500</p>
      <p class = 'descuentos'>10% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>Samsung Galaxy S10</p>
    </div>
   </article>
   
  </div>
 </section>

 <section>

  <h2>Ofertas</h2>
  <div class = 'articulos'>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-cafetera-moulinex.jpg">
    <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$6.770</p>
      <p class = 'descuentos'>40% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>Cafetera Moulinex</p>
    </div>
   </article>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-macbook-pro-2019.jpg">
    <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$230.000</p>
      <p class = 'descuentos'>20% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>MacBook Pro 2019</p>
    </div>
   </article>
   <article class = "articulo">
    <img class = 'imagen-productos' src = "/imgs/img-samsung-galaxy-s10.jpg">
    <div class = 'box'>
      <div class = 'precioydescuento'>
      <p class = 'precios'>$70.500</p>
      <p class = 'descuentos'>10% OFF</p>
      <i class="fa-solid fa-truck"></i>
      </div>
      <p class= 'descripciones'>Samsung Galaxy S10</p>
    </div>
   </article>

  </div>
 </section>
</main>

<footer>
    <div class="footer">
    <section>
     <i class="fa-sharp fa-solid fa-credit-card icono"></i>
     <h4>Paga con tarjeta o en efectivo</h4>
     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
           puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
     <i class="fa-solid fa-gift icono"></i>
     <h4>Envio gratis desde $2500</h4>
     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
           productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
     <i class="fa-solid fa-user-shield icono"></i>
     <h4>Seguridad de principio a fin</h4>
     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.</p>
    </section>
  </div>
    <section>
     <h4>Copyright © 1999-3020 MercadoLiebre S.R.L.</h4>
    </section>
   </footer>


<script src="https://kit.fontawesome.com/c432afab30.js" crossorigin="anonymous"></script>
</body>
</html>